/*Trang chi tiết tour*/
.chitiettour {
    padding: 1em 0 0 0;
    border-top: solid 1px rgba(0,0,0,.3);
}

    /*Tour*/
    .chitiettour > .tour {
        width: 70%;
        margin: 0 15%;
    }

        /*Thông tin tóm tắt*/
        .chitiettour > .tour > .tomtat {
            height: 1%;
            overflow: hidden;
            padding: 0 0 1em 0;
            border-bottom: solid 1px rgba(0, 0, 0, .3);
        }

            /*Ảnh địa điểm*/
            .chitiettour > .tour > .tomtat > img {
                width: 30%;
                height: 15em;
                float: left;
                padding: 0;
            }

            /*Thông tin*/
            .chitiettour > .tour > .tomtat > .thongtin {
                width: 60%;
                float: left;
                padding: 1em 2em;
            }

                .chitiettour > .tour > .tomtat > .thongtin > p {
                    font-size: 1.2em;
                    letter-spacing: 1px;
                    color: black;
                }

                .chitiettour > .tour > .tomtat > .thongtin > .tentour {
                    font-size: 2em;
                    text-transform: uppercase;
                }

                    .chitiettour > .tour > .tomtat > .thongtin > .tentour > span {
                        text-transform: none;
                        font-size: 0.65em;
                        color: black;
                    }

                .chitiettour > .tour > .tomtat > .thongtin > .gia {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    color: red;
                }

                    .chitiettour > .tour > .tomtat > .thongtin > .gia > span {
                        color: black;
                        text-transform: none;
                        font-size: 0.8em;
                    }

                .chitiettour > .tour > .tomtat > .thongtin > p > span {
                    font-weight: bold;
                }

        /*Lịch trình tour*/
        .chitiettour > .tour > .lichtrinh {
            padding: 1em 0;
        }

            .chitiettour > .tour > .lichtrinh > .tieude {
                border-bottom: solid 3px rgb(3,155,229);
            }

                .chitiettour > .tour > .lichtrinh > .tieude > p {
                    display: table-cell;
                    vertical-align: middle;
                    height: 2.5em;
                    font-size: 1.5em;
                    padding: 0 1em;
                    background: rgb(3,155,229);
                    color: rgb(255, 255, 255);
                }

                .chitiettour > .tour > .lichtrinh > .tieude > .ve {
                    border-left: 4em solid rgb(3,155,229);
                    border-top: 4em solid transparent;
                    display: table-cell;
                }

            .chitiettour > .tour > .lichtrinh > .text {
                padding: 1em 0;
                text-align: justify;
                font-size: 1.2em;
                letter-spacing: 1px;
            }

    /*Các tour khác*/
    .chitiettour > .tourkhac {
        height: 1%;
        overflow: hidden;
        width: 90%;
        margin: 2em auto;
        padding: 1em 0;
        border: solid 1px rgba(0, 0, 0, .3);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
        margin:1em 5%;
    }

        /*Tiêu đề*/
        .chitiettour > .tourkhac > .tieude {
            padding: 0 2.5%;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(213,0,0);
            font-size: 2em;
        }

        /*Danh sách tour*/
        .chitiettour > .tourkhac > .danhsach {
            height: 1%;
            overflow: hidden;
            padding: 0;
        }

            /*Tour*/
            .chitiettour > .tourkhac > .danhsach > .tour {
                width: 20%;
                float: left;
                margin: 0 2.5%;
                padding: 0;
                text-decoration: none;
            }

                .chitiettour > .tourkhac > .danhsach > .tour > img {
                    width: 100%;
                    height: 15em;
                }

                .chitiettour > .tourkhac > .danhsach > .tour > p {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                    font-size: 1.2em;
                    margin: 0.5em 0 0 0;
                    transition: all .3s ease-in-out;
                }

                .chitiettour > .tourkhac > .danhsach > .tour:hover > p {
                    color: rgb(213,0,0);
                }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
    /*Tour*/
    .chitiettour > .tour {
        width: 100%;
        margin: 0;
        padding: 0 2em;
    }

        /*Ảnh địa điểm*/
        .chitiettour > .tour > .tomtat > img {
            width: 40%;
            height: 15em;
            float: left;
            padding: 0;
        }

    /*Các tour khác*/
    .chitiettour > .tourkhac {
        width: 95%;
    }
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    /*Tour*/
    .chitiettour > .tour {
        width: 100%;
    }

        /*Thông tin tóm tắt*/
        .chitiettour > .tour > .tomtat {
        }

            /*Ảnh địa điểm*/
            .chitiettour > .tour > .tomtat > img {
                width: 40%;
            }

        /*Lịch trình tour*/
        .chitiettour > .tour > .lichtrinh {
            padding: 1em 0;
        }

            .chitiettour > .tour > .lichtrinh > .text {
                padding: 1em;
            }

    /*Các tour khác*/
    .chitiettour > .tourkhac {
        width: 95%;
    }

        /*Tour*/
        .chitiettour > .tourkhac > .danhsach > .tour {
            width: 45%;
            margin: 0 2.5% 3em 2.5%;
        }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    /*Trang chi tiết tour*/
    .chitiettour {
        margin: 2em 0 0 0;
    }

        /*Tour*/
        .chitiettour > .tour {
            width: 100%;
            margin:0;
        }

            /*Thông tin tóm tắt*/
            .chitiettour > .tour > .tomtat {
            }

                /*Ảnh địa điểm*/
                .chitiettour > .tour > .tomtat > img {
                    width: 100%;
                    height: 20em;
                }

                /*Thông tin*/
                .chitiettour > .tour > .tomtat > .thongtin {
                    width: 100%;
                    float: left;
                    padding: 1em 0;
                }

                    .chitiettour > .tour > .tomtat > .thongtin > p {
                        font-size: 1.1em;
                    }

                    .chitiettour > .tour > .tomtat > .thongtin > .tentour {
                        font-size: 1.5em;
                    }

                        .chitiettour > .tour > .tomtat > .thongtin > .tentour > span {
                            font-size: 0.8em;
                        }

        /*Các tour khác*/
        .chitiettour > .tourkhac {
            width: 92%;
        }

            .chitiettour > .tourkhac > .danhsach {
                padding: 1em;
            }

                /*Tour*/
                .chitiettour > .tourkhac > .danhsach > .tour {
                    width: 100%;
                    margin: 1.5em auto;
                }
}
