/*Trang dịch vụ du lịch*/
.dichvudulich {
}

    /*Banner*/
    .dichvudulich > .banner {
        background: url(../images/dichvu/banner-bg.png) no-repeat;
        background-size: 100%;
        height: 100vh;
    }

        /*Text*/
        .dichvudulich > .banner > p {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 5em;
            color: rgb(255, 255, 255);
            padding: 42.5vh 0;
            background: rgba(0, 0, 0, .6);
        }

    /*Sologan*/
    .dichvudulich > .sologan {
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
        padding: 2em 10em 1em 10em;
        font-size: 2em;
    }

        .dichvudulich > .sologan > span {
            font-style: normal;
            font-size: 0.7em;
            color: rgb(211, 84, 0);
        }

    /*Danh sách dịch vụ*/
    .dichvudulich > .loaidichvu {
        padding: 0 5em;
    }

        /*Tiêu đề*/
        .dichvudulich > .loaidichvu > .tieude {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2em;
            padding: 0 0 1em 0;
        }

        /*Dịch vụ*/
        .dichvudulich > .loaidichvu > .dichvu {
            padding: 0;
            z-index: 2;
            margin: 0 0 2em 0;
        }

            /*Ảnh nền*/
            .dichvudulich > .loaidichvu > .dichvu > img {
                z-index: 1;
            }

            /*Tên dịch vụ*/
            .dichvudulich > .loaidichvu > .dichvu > div {
                position: absolute;
                z-index: 3;
                background: rgba(0, 0, 0, .6);
                top: 0;
                width: 100%;
                height: 100%;
            }

                .dichvudulich > .loaidichvu > .dichvu > div > p {
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    font-weight: bold;
                    color: rgb(255, 255, 255);
                    font-size: 2em;
                    border: solid 2px;
                    padding: 0.5em 0;
                    width: 20%;
                    margin: 6.5em auto;
                }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
    /*Text*/
    .dichvudulich > .banner > p {
        padding: 44.8vh 0;
    }

    /*Ảnh nền*/
    .dichvudulich > .loaidichvu > .dichvu > img {
        width: 100%;
    }

    .dichvudulich > .loaidichvu > .dichvu > div > p {
        margin: 10em auto;
    }
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
    /*Banner*/
    .dichvudulich > .banner {
        height: 60vh;
    }

        /*Text*/
        .dichvudulich > .banner > p {
            font-size: 3em;
            padding: 26.1vh 0;
        }

    /*Sologan*/
    .dichvudulich > .sologan {
        font-size: 1.5em;
    }

    /*Tên dịch vụ*/
    .dichvudulich > .loaidichvu > .dichvu > div > p {
        width: 30%;
        margin: 5em auto;
    }
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    /*Banner*/
    .dichvudulich > .banner {
        height: 40vh;
    }

        /*Text*/
        .dichvudulich > .banner > p {
            font-size: 4em;
            padding: 15.5vh 0;
        }

    /*Sologan*/
    .dichvudulich > .sologan {
        padding: 2em 1.5em 1em 1.5em;
        font-size: 2em;
    }

    /*Tên dịch vụ*/
    .dichvudulich > .loaidichvu > .dichvu > div > p {
        width: 35%;
        margin: 3em auto;
    }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    /*Banner*/
    .dichvudulich > .banner {
        height: 30vh;
    }

        /*Text*/
        .dichvudulich > .banner > p {
            font-size: 2em;
            padding: 11.5vh 0;
        }

    /*Sologan*/
    .dichvudulich > .sologan {
        padding: 2em 1em 1em 1em;
        font-size: 1em;
    }

    /*Danh sách dịch vụ*/
    .dichvudulich > .loaidichvu {
        padding: 0 1em;
    }

        /*Tiêu đề*/
        .dichvudulich > .loaidichvu > .tieude {
            font-size: 1.5em;
        }

        .dichvudulich > .loaidichvu > .dichvu > div > p {
            font-size: 1em;
            width: 40%;
            margin: 3.5em auto;
        }
}
