
@{
    ViewBag.Title = "Chi tiết tour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="chitiettour">

    <!--Tour-->
    <div class="tour col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Tóm tắt tour-->
        <div class="tomtat">
            <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive col-xs-12" />

            <!--Thông tin-->
            <div class="thongtin col-xs-12">
                <p class="tentour"><span>Tên tour: </span>Hà Nội - Tây Bắc</p>
                <p><span>Thời gian: </span>5 ngày 4 đêm</p>
                <p><span>Ngày đi: </span>30/1/2017</p>
                <p class="gia"><span>Giá: </span>5.300.000 vnđ</p>
            </div>
        </div>

        <!--Lịch trình tour-->
        <div class="lichtrinh col-xs-12 col-sm-12">

            <!--Tiêu đề-->
            <div class="tieude">
                <p>Lịch trình</p>
                <div class="ve"></div>
            </div>

            <div class="text">
                Ngày 1: Hải phòng  - Sydney (nghỉ đêm trên máy bay)<br />
                Chiều: xe và hướng dẫn viên của Hải Phòng Toserco đón quý khách tại điểm hẹn và đưa ra sân bay làm thủ tục cho quý khách đáp chuyến bay khởi hành đi Sydney.
                Đoàn nghỉ đêm trên máy bay.<br />
                Ngày 2: Đến Sydney – Thăm quan (Bữa trưa, tối)<br />
                Sau bữa sáng trên máy bay, đoàn đáp xuống sân bay Sydney lúc 8h00.
                Làm thủ tục nhập cảnh. Sau đó đi vòng quanh thành phố, dừng chân tại địa danh Mrs. Macquaries Chair để ghi những bức hình đẹp nhất của cảng Sydney.
                Sau bữa trưa, xe đưa đoàn về nhận phòng khách sạn. Nghỉ ngơi.
                Hứa hẹn một buổi chiều khám phá các danh thắng nổi tiếng nhất của thành phố Sydney: nhà hát con Sò (Sydney Opera House), cầu cảng Sydney (bridge & harbour),
                tiếp  tục tour  bộ hành tới mũi đá lịch sử (The Rocks), có thể thưởng thức hương vị bia ở nhà hàng nằm thơ mộng cạnh nhà hát con Sò và ngắm nhìn toàn cảnh thành phố.
                Sau khi ăn tối, quý khách tự do khám phá thành phố về đêm và nghỉ đêm tại khách sạn ở Metro Hotel Sydney Central hoặc tương đương.<br />
                Ngày 3: Blue mountains (Bữa sáng, trưa, tối)<br />
                Ăn sáng tại nhà hàng. Đoàn bắt đầu hành trình một ngày theo hướng Tây Bắc, tham quan công viên quốc gia Blue Mountain.
                Chụp ảnh tại 3 mỏm núi đẹp nhất (Three sisters),
                nếu may mắn du khách có thể chớp được những bức hình cùng với người thổ dân với ống khèn và những giai điệu truyền thống.
                Tiếp tục trải nghiệm bằng tàu kéo an toàn xuống chân núi để dạo bộ trong công viên quốc gia, ngắm nhìn những khung cảnh tuyệt đẹp,
                sau đó đi ra bến xe cáp treo trở lại điểm ban đầu. Dừng bữa trưa tại nhà hàng. Chiều, đoàn tham quan vườn thú hoang dã Featherdale Wildlife Park –
                nơi bảo tồn những loại động vật quý hiếm của Australia, Quý khách có thể ngắm nhìn cận cảnh những con chuột túi Kangaroos, đà điểu sa mạc Úc và Gấu túi Koala.
                Đoàn  mua sắm tại  siêu thị DFO (02 tiếng). Nghỉ tại khách sạn Metro Hotel Sydney Central hoặc tương đương.<br />
                Ngày 4: Sydney – Thủ đô Canberra (Bữa sáng, trưa, tối)<br />
                Ăn sáng tại nhà hàng. Đưa khách tới tham quan Thủ đô Canberra của nước Úc: nhà quốc hội mới (New Parliament house),
                vào trong tham quan kiến trúc và phòng họp của Thượng viện, Hạ viện. Xe chạy dọc theo hồ Burley Griffin tuyệt đẹp, tháp phun nước Captain Cook,
                khu đặt trụ sở sứ quán các nước, cuối cùng dừng tại Bảo tàng chiến tranh (Australian War Memorial), nơi đây ghi lại chứng tích chiến tranh Việt Nam.
                Chiều: đoàn đón chuyến bay đi Melbourne. Ăn tối tại nhà hàng. Nghỉ tại khách sạn Mercue Hotel Welcome Melbourne hoặc tương đương.<br />
                Ngày 5: Khám phá Melbourne (Bữa sáng, trưa, tối)<br />
                Sau khi ăn sáng, du khách sẽ tham quan phiên chợ Victoria market (đóng cửa thứ 2, thứ 4 trong tuần),
                có thể mua nhiều quà tặng, quà lưu niệm như áo da, túi da, đồ trang sức đá Opal nổi tiếng của Úc… với giá rất hấp dẫn,
                có nhiều người Việt bán hàng ở đây nên rất thuận tiện mua sắm. Sau đó, tiếp tục đưa quý khách đến Outlet để mua hàng hiệu thời trang giảm giá.
                Ăn trưa tại nhà hàng. Chiều : Tham quan trụ sở làm việc văn phòng Nhà quốc hội, Nhà họp của Quốc hội liên bang, khu vườn Fitzroy và nhà thuyền trưởng Cook’s.
                Tiếp tục chạy qua trung tâm Quần vợt quốc gia, trung tâm văn hóa nghệ thuật, nhà ga tàu cổ kính.
                Hãy nhanh chóng chớp những bức hình của đội cảnh sát tuần tra bằng đội kiệu binh, hoặc thưởng thức một chuyến xe ngựa kéo để tham quan thành phố.
                Dừng chân bên dòng sông Yarra để nhìn toàn cảnh thành phố. Tham quan phố Footcray để mua sắm những món quà cho người thân, đặc sản có thể tham khảo là:
                sụn cá mập, dầu cá, vitamin B tổng hợp, kem dưỡng da từ cừu, miếng trải salon bằng lông cừu,...dùng bữa tối  tại đây.
                Nghỉ tại khách sạn Mercue Hotel Welcome Melbourne hoặc tương đương.<br />
                Ngày 6: Melbourne – Yarra Valey – Dandenong (Bữa sáng, trưa, tối)<br />
                Sau khi ăn sáng, quý khách khởi hành đi Dandenong Ranger thăm thảo nguyên với những khu rừng nguyên sinh.
                Tại nơi đây, một hoạt cảnh thật thú vị với chút thức ăn, những chú chim nhạn sẽ đậu trên tay quý khách.
                Ăn trưa tại nhà hàng. Chiều: chào mừng quý khách đến với thung lũng Yarra Valey.
                Du khách có thể xem hoặc tự tay chế biến với các nhà máy rượu vang và các nhà máy bia,
                thưởng thức mùi vị thơm ngon của rượu vang Úc trong thung lũng, trải nghiệm tầm ngắm với phong
                cảnh thiên nhiên tuyệt đẹp: những cánh đồng Nho dài ngút ngàn. Sau đó, quý khách trở về Melbourn
                e thăm quan Crown Casino và dùng bữa tại đây. Nghỉ đêm tại khách sạn Mercue Hotel Welcome Melbourne hoặc tương đương.<br />
                Ngày 7: Rời nước Úc (Bữa sáng)<br />
                Ăn sáng sau đó xe đưa đoàn ra sân bay làm thủ tục đáp chuyến bay về Việt Nam. Đưa đoàn về  điểm hẹn ban đầu. Kết thúc chương trình.
            </div>
        </div>
    </div>

    <!--Các tour khác-->
    <div class="tourkhac col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Tiêu đề-->
        <p class="tieude">Các tour khác</p>

        <!--Danh sách tour-->
        <div class="danhsach">

            <!--Tour-->
            <a href="@Url.Action("Chitiettour","Home")" class="tour col-xs-12 col-sm-6">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <p>Hà Nội - Đà Nẵng</p>
            </a>

            <!--Tour-->
            <a href="@Url.Action("Chitiettour","Home")" class="tour col-xs-12 col-sm-6">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <p>Hà Nội - Đà Nẵng</p>
            </a>

            <!--Tour-->
            <a href="@Url.Action("Chitiettour","Home")" class="tour col-xs-12 col-sm-6">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <p>Hà Nội - Đà Nẵng</p>
            </a>

            <!--Tour-->
            <a href="@Url.Action("Chitiettour","Home")" class="tour col-xs-12 col-sm-6">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <p>Hà Nội - Đà Nẵng</p>
            </a>

        </div>
    </div>
</section>