
@{
    ViewBag.Title = "Dịch vụ du lịch";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!--Dịch vụ du lịch-->
<section class="dichvudulich row">
    <!--Banner-->
    <div class="banner">
        <p>Dịch vụ du lịch</p>
    </div>
    <!--Sologan-->
    <p class="sologan">
        Chúng tôi là một tập thể nhiệt huyết với tầm nhìn
        của việc cung cấp các kinh nghiệm tốt VÀ THÚ VỊ
        NHẤT cho khách hàng <br />
        <span>Travel, Tours, Advanture</span>
    </p>
    <!--Các loại dịch vụ-->
    <article class="loaidichvu col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Tiêu đề-->
        <p class="tieude">Dịch vụ du lịch của hoa ban travel</p>
        <!--Dịch vụ-->
        <div class="dichvu col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/dichvu/hochieu-bg.png" alt="" class="img-responsive" />
            <div>
                <p>Hộ chiếu</p>
            </div>
        </div>
        <!--Dịch vụ-->
        <div class="dichvu col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/dichvu/thuexe-bg.png" alt="" class="img-responsive" />
            <div>
                <p>Thuê xe</p>
            </div>
        </div>
        <!--Dịch vụ-->
        <div class="dichvu col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/dichvu/khachsan-bg.png" alt="" class="img-responsive" />
            <div>
                <p>Khách sạn</p>
            </div>
        </div>
        <!--Dịch vụ-->
        <div class="dichvu col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/dichvu/vetau-bg.png" alt="" class="img-responsive" />
            <div>
                <p>Vé tàu</p>
            </div>
        </div>
    </article>
</section>