
@{
    ViewBag.Title = "Du lịch nước ngoài";
}

<!--Du lịch nước ngoài-->
<section class="dulichnuocngoai row">
    <!--Tiêu đề-->
    <p class="tieude">Du lịch nước ngoài</p>
    <!--Danh sách các vùng-->
    <div class="danhmuc">
        <!--Từng vùng-->
        <div class="vung row">
            <!--Ảnh đại diện-->
            <img src="~/Content/images/dulich/avt-trongnuoc-1.png" alt="" class="img-responsive col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-left" />
            <!--Thông tin-->
            <div class="thongtin col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-right">
                <!--Tiêu đề-->
                <p class="tieude">Du lịch châu á</p>
                <!--Nội dung-->
                <p class="noidung">
                    Tập hợp tất cả các tour du lịch đặc biệt đến các di tích thắng cảnh ở miền
                    Bắc. Miền Bắc Việt Nam gồm Tây Bắc, Đông Bắc và đồng bằng Sông Hồng,
                    là cái nôi văn hóa lịch sử hàng ngàn năm của Việt Nam. Thiên nhiên và
                    cảnh đẹp hùng vĩ, 4 mùa xuân hạ thu đông, miền Bắc luôn là điểm hẹn
                    hấp dẫn cho ta trở lại nhiều lần.
                </p>
                <!--Nút xem thêm-->
                <a href="@Url.Action("Dulichmienbac","Home")" class="pull-right">Xem thêm</a>
            </div>
        </div>
        <!--Từng vùng-->
        <div class="vung row">
            <!--Ảnh đại diện-->
            <img src="~/Content/images/dulich/avt-trongnuoc-2.png" alt="" class="img-responsive col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-right" />
            <!--Thông tin-->
            <div class="thongtin col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-left">
                <!--Tiêu đề-->
                <p class="tieude">Du lịch châu âu</p>
                <!--Nội dung-->
                <p class="noidung">
                    Miền Trung Việt Nam gồm Bắc Trung Bộ, Nam Trung Bộ và Tây Nguyên, tổng
                    19 tỉnh thành. Miền Trung là giao điểm của sông núi hữu tình, thiên nhiên
                    hùng vĩ, văn hóa đặc sắc, pha trộn ảnh hưởng của Hindu và Trung Hoa. Một
                    điểm đến lý tưởng! Một cố đô Huế mộng mơ với những tà áo dài thướt tha.
                </p>
                <!--Nút xem thêm-->
                <a href="@Url.Action("Dulichmienbac","Home")" class="pull-right">Xem thêm</a>
            </div>
        </div>
        <!--Từng vùng-->
        <div class="vung row">
            <!--Ảnh đại diện-->
            <img src="~/Content/images/dulich/avt-trongnuoc-3.png" alt="" class="img-responsive col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-left" />
            <!--Thông tin-->
            <div class="thongtin col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-right">
                <!--Tiêu đề-->
                <p class="tieude">Du lịch châu mỹ</p>
                <!--Nội dung-->
                <p class="noidung">
                    Du lịch Miền Nam nổi tiếng với những cánh đồng lúa thẳng cánh cò bay
                    cùng hệ thống sông ngòi chằng chịt. Du lịch Miền Nam với những chiến
                    tích vang dội còn lưu danh nơi căn cứ Minh Đạm, TW Cục miền Nam hay
                    Côn Đảo, Phú Quốc. Đến với Du lịch Miền Nam không thể không nhắc
                    đến một Thành phố Hồ Chí Minh sôi động, náo nhiệt sẽ mang đến cho
                    du khách những ngày nghỉ thật tưng bừng.
                </p>
                <!--Nút xem thêm-->
                <a href="@Url.Action("Dulichmienbac","Home")" class="pull-right">Xem thêm</a>
            </div>
        </div>
        <!--Từng vùng-->
        <div class="vung row">
            <!--Ảnh đại diện-->
            <img src="~/Content/images/dulich/avt-trongnuoc-4.png" alt="" class="img-responsive col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-right" />
            <!--Thông tin-->
            <div class="thongtin col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-left">
                <!--Tiêu đề-->
                <p class="tieude">Du lịch châu phi</p>
                <!--Nội dung-->
                <p class="noidung">
                    Tập hợp tất cả các tour du lịch đặc biệt đến các di tích thắng cảnh ở miền
                    Bắc. Miền Bắc Việt Nam gồm Tây Bắc, Đông Bắc và đồng bằng Sông Hồng,
                    là cái nôi văn hóa lịch sử hàng ngàn năm của Việt Nam. Thiên nhiên và
                    cảnh đẹp hùng vĩ, 4 mùa xuân hạ thu đông, miền Bắc luôn là điểm hẹn
                    hấp dẫn cho ta trở lại nhiều lần.
                </p>
                <!--Nút xem thêm-->
                <a href="@Url.Action("Dulichmienbac","Home")" class="pull-right">Xem thêm</a>
            </div>
        </div>
    </div>
</section>